.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.top {
  padding-top: 2rem;
  display: flex;
}

.first {
  padding-right: 1rem;
  font-size: 18;
  padding-top: 1rem;
}

.second {
  padding-right: 1rem;
  font-size: 22;
  padding-top: 0.5rem;
}

.third {
  padding-right: 1rem;
  font-size: 22;
  padding-top: 0.5rem;
}

.forth {
  position: absolute;
  margin-bottom: 5rem;
}
